<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @snippet.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @snippet.content %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @snippet.is_private %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
